{% extends 'base.html.twig' %}

    {% block body %}
        <h1 class="main-information">Upload du CV</h1>

        <div>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.resume) }}
                {{ form_widget(form.resume) }}
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endblock %}